{%extends "base.html"%}
{%load static%}

{%block encabezado%}
    <style>
    table{
        border-collapse: collapse;
        width: 100%;
        margin-top: 10px;
        
    }
    th,td{
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }
    tr:nth-child(even){
        background-color: #f2f2f2;
    }
    .th-style{
        background-color: #04AA6D;
        color: white;
    }
</style>
{%endblock%}

{%block contenido%}
<table>
    <tr>
        <th class="th-style">Acciones</th>
        <th class="th-style">Nombre</th>
        <th class="th-style">Escuela</th>
        <th class="th-style">Sexo</th>
        <th class="th-style">Fecha de nacimiento</th>
    </tr>
    {%for maestro in maestros%}
    <tr>
        <td>
            <a href=""><img src="/static/images/delete.png" alt="" width="40px"></a>
            <a href=""><img src="/static/images/modify.png" alt="" width="40px"></a>
        </td>
        <td>{{maestro.nombre}}</td>
        <td>{{maestro.escuela}}</td>
        <td>{{maestro.sexo}}</td>
        <td>{{maestro.fecha_nacimiento}}</td>


    </tr>
    {%endfor%}
</table>
{%endblock%}


